.page{
    
}

.page h1 {
 text-align: center;
 color: white;
  margin-bottom: 50px;
  margin-top: 20px;
}

.page h2 {
  text-align: center;
}

.page .data_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.page input, select{
    background-color: rgb(211, 210, 216);
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.page label{
  color: white;
  font-weight: 500;
  margin-left: 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}

.page .no_more_requests {
  color: white;
  font-size: larger;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}