.request {
    min-width: none;
    max-width: 40%;
    background-color: #90e0ef;
    border-radius: 7px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.request h2 {
    text-align: center;
    color: rgb(50, 70, 227);
    /* font-weight: bolder; */
}

.request span {
    color: #5a65ce;
}